<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/beans/fragments :: head (title='Configuration Bean View: '+ ${beanName})"></head>
<body th:inline="text">
<section class="container">
	<div class="well">
	   <p>Configuration Bean View</p>
	   <p>Bean Name: <a th:href="${url}" th:text="${beanName}"></a></p>
	   <p>Bean Class: <span th:text="${beanClass}"></span></p>
	   <p>Bean Value: <span th:text="${beanValue}"></span></p>
	</div>
</section>

<div class="container">
    <section th:replace="admin/beans/fragments :: beanSearchSection (${kw}, '../beans')" />
</div>


<!-- methods area -->
<div class="container-fluid" th:if="${not #lists.isEmpty(methods)}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Methods View</h3>
        </div>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Return Type</th>
                    <th>Declaring Class</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="method : ${methods}">
                    <td th:switch="${method.callable}">
                        <ul th:if="${not #lists.isEmpty(method.annotationMarks)}" class="list-unstyled">
                            <li th:each="mark : ${method.annotationMarks}">
                                <i th:text="${mark}" />
                            </li>
                        </ul>
                        <a th:case="true" th:text="${method.name}" th:href="${method.url}"></a>
                        <span th:case="false" th:text="${method.name}"></span>
                    </td>
                    <td th:text="${method.returnType}"></td>
                    <td th:text="${method.declaringClass}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td><span th:text="'Total: ' + ${methods.size()}"></span></td></tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>