<div class="container-fluid" v-if="methods">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Methods View</h3>
        </div>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr> <th>Name</th> <th>Return Type</th> <th>Declaring Class</th> </tr>
            </thead>
            <tbody>
                <tr v-for="method in methods">
                    <td>
                        <ul v-if="method.annotationMarks && method.annotationMarks.length > 0" class="list-unstyled">
                            <li v-for="mark in method.annotationMarks"><i>{{mark}}</i></li>
                        </ul>
                        <a v-if="method.callable" :href="method.url">{{method.name}}</a>
                        <span v-else>{{method.name}}</span>
                    </td>
                    <td v-text="method.returnType" />
                    <td v-text="method.declaringClass" />
                </tr>
            </tbody>
            <tfoot>
                <tr> <td> <total :total="methods.length"/> </td> </tr>
            </tfoot>
        </table>
    </div>
</div>