<!DOCTYPE html>
<html>
<head>
    <title>Bean View: ${beanName}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="${staticUrlPrefix}/css/bootstrap.min.css"/>
    <style type="text/css">
        /* 表格内容垂直居中 */
        td {
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div id="app">
    <app :properties="properties" :methods="methods"/>
</div>

<!--  define template -->
<script type="text/x-template" id="app-template">
<div>
    <div class="container">
        <div class="well">
            <p>Bean Name: <a href="${url}">${beanName}</a></p>
            <p>Bean Class: <span>${beanClass}</span></p>
            <p>Bean Value: <span>${beanValue}</span></p>
        </div>
    </div>
    <!-- search area -->
    <div class="container">
    </div>
    <!-- properties area -->
    <properties-view :properties="properties" />
    <!-- methods area -->
    <methods-view :methods="methods"/>
</div>
</script>


<!-- import script resource -->
<script src="${staticUrlPrefix}/js/vue.js"></script>
<!-- <script src="${staticUrlPrefix}/js/vue.min.js"></script> -->
<script src="${staticUrlPrefix}/js/jquery-3.1.1.min.js"></script>

<script type="text/javascript">
// initialize common variable.
var staticUrlPrefix = "${staticUrlPrefix}";
var initState = {
	properties: ${properties},
	methods: ${methods}
};
</script>
<script src="${staticUrlPrefix}/js/bean.js"></script>
</body>
</html>