<!DOCTYPE html>
<html>
<head>
	<title>Admin Beans Index</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="${staticUrlPrefix}/css/bootstrap.min.css"/>
</head>
<body>
<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>About this Application</h1>
      <em>contextId: </em><span text="${contextId}"></span>
      <ul class="list-unstyled">
	      <li><a href="${beansUrlPrefix}/springApplication"><i>springApplication</i></a> when spring.registerApplication is true</li>
	      <li><a href="${beansUrlPrefix}/applicationContext"><i>applicationContext</i></a> when spring.registerApplicationContext is true</li>
	      <li><a href="${beansUrlPrefix}/dispatcherServlet"><i>dispatcherServlet</i></a> default dispatcherServlet</li>
	      <li><a href="${beansUrlPrefix}/beansMvcEndpoint"><i>beansMvcEndpoint</i></a> admin/beans function start bean</li>
      </ul>
    </div>

	<!--<div class="page-header">
	   <h1>Search</h1>
	</div>-->
	
	<div class="panel panel-default">
	    <div class="panel-heading">
	        Show Common Beans
	    </div>
	    <div class="panel-body">
            <p class="bg-info">
                <a href="${beansUrlPrefix}/beansService?propertyName=additionalTypeList">Show More Type</a> ||
                <a href="${beansUrlPrefix}/beansService?methodName=clearAllCache">Clear Cache.</a>
            </p>
		    <select id="typesSelect">
		        <option each="type : ${types}" value="${type.name}" text="${type.simpleName}"></option>
		    </select>
	    </div>
	    <div id="subtypsArea">
	    	<ul replace="admin/beans/fragments :: subtypes"></ul>
	    </div>
	</div>
</div>
</body>
</html>